.Nav {
  background-color: rgb(30, 41, 59);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  padding: 12px 0;
  border-radius: 0.3rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  .img {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
  }

  .links {
    background-color: rgb(15, 23, 42);
    display: flex;
    align-items: center;
    padding: 6px 60px;
    border-radius: 0.8rem;

    a {
      padding: 12px 24px;
      color: rgb(147, 147, 147);
      font-weight: 600;
      transition: 300ms;
      font-size: 18px;

      &:hover {
        color: white;
      }
    }
  }

  .profile {
    position: absolute;
    right: 30px;
  }
}
